<ul class="navbar">
  <li><a href="/admin/userList">Lista utenti</a></li>
  <li><a href="/admin/reportsList">Lista rapportini</a></li>
  <li><a class="active" href="/admin/manage">Amministra database</a></li>
  <li><a href="/admin/register">Registra utente</a></li>
  <li class="logout"><a href="/logout">Logout</a></li>
</ul>

<h2 class="row">Veicoli</h2>
<div class="row">
  <table>
    <thead>
      <tr>
        <td>Targa</td>
        <td>Descrizione</td>
        <td>Elimina</td>
      </tr>
    </thead>
    <tbody>
      {{#each elements.vehicle as |vehicle|}}
        <tr>
          <td>{{vehicle.plaque}}</td>
          <td>{{vehicle.description}}</td>
          <td>
            <form action="/admin/deleteMiscObject" method="post">
              <input name="id" value={{vehicle._id}} hidden />
              <button>Elimina</button>
            </form>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

<h3 class="row">Aggiungi nuovo veicolo</h3>

<div class="row">
  <form action="/admin/addMiscObject" method="post">
    <div class="form-row">
      <label for="plaque">Targa</label>
      <input id="plaque" name="plaque" type="text" />
    </div>
    <div class="form-row">
      <label for="description">Descrizione</label>
      <textarea id="description" name="description"></textarea>
    </div>
    <input name="category" value="vehicle" hidden />
    <div class="form-row">
      <button>Invia</button>
    </div>
  </form>
</div>

<h2 class="row">Siti</h2>

<div class="row">
  <table>
    <thead>
      <tr>
        <td>Codice</td>
        <td>Nome</td>
        <td>Elimina</td>
      </tr>
    </thead>
    <tbody>
      {{#each elements.site as |site|}}
        <tr>
          <td>{{site.code}}</td>
          <td>{{site.name}}</td>
          <td>
            <form action="/admin/removeMiscObject" method="post">
              <input name="id" value={{site._id}} hidden />
              <button>Elimina</button>
            </form>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

<h3 class="row">Aggiungi nuovo sito</h3>

<div class="row">
  <form action="/admin/addMiscObject" method="post">
    <div class="form-row">
      <label for="code">Codice</label>
      <input id="code" name="code" type="text" />
    </div>
    <div class="form-row">
      <label for="name">Nome</label>
      <textarea id="name" name="name"></textarea>
    </div>
    <input name="category" value="site" hidden />
    <div class="form-row">
      <button>Invia</button>
    </div>
  </form>
</div>