<ul class="navbar">
  <li class="logout"><a href="/logout">Logout</a></li>
</ul>

<form action="user/report" method="post">

  <div class="form-row">
    <label for="time">Tempo</label>
    <input id="time" name="time" type="text" />
  </div>

  <div class="form-row">
    <label for="site">Sito</label>
    <select id="site" name="site">
      {{#each elements.site as |site|}}
        <option value="{{site.code}}">{{site.code}} {{site.name}}</option>
      {{/each}}
    </select>
  </div>

  <label class="form-title">Giornata lavorativa</label>

  <label for="workStarted">Inizio</label>
  <div id="workStarted" class="row">
    <label for="workStartedHour"></label>
    <select id="workStartedHour" name="workStartedHour">
      {{#each dayHours as |hour|}}
        <option value="{{hour.value}}" {{#if hour.defaultStart}}selected{{/if}}>{{hour.text}}</option>
      {{/each}}
    </select>
    <label for="workStartedMinutes"></label>
    <select id="workStartedMinutes" name="workStartedMinutes">
    {{#each minutes as |minute|}}
      <option value="{{minute.value}}" {{#if minute.default}}selected{{/if}}>{{minute.text}}</option>
    {{/each}}
    </select>
  </div>

  <label for="workStarted">Pausa pranzo</label>
  <div id="workPaused" class="row">
    <label for="workPausedHour"></label>
    <select id="workPausedHour" name="workPausedHour">
      {{#each dayHours as |hour|}}
        <option value="{{hour.value}}" {{#if hour.defaultPause}}selected{{/if}}>{{hour.text}}</option>
      {{/each}}
    </select>
    <label for="workPausedMinutes"></label>
    <select id="workPausedMinutes" name="workPausedMinutes">
    {{#each minutes as |minute|}}
      <option value="{{minute.value}}" {{#if minute.default}}selected{{/if}}>{{minute.text}}</option>
    {{/each}}
    </select>
  </div>

  <label for="workStopped">Arrivo</label>
  <div id="workStopped" class="row">
    <label for="workStoppedHour"></label>
    <select id="workStoppedHour" name="workStoppedHour">
      {{#each dayHours as |hour|}}
        <option value="{{hour.value}}" {{#if hour.defaultStop}}selected{{/if}}>{{hour.text}}</option>
      {{/each}}
    </select>
    <label for="workStoppedMinutes"></label>
    <select id="workStoppedMinutes" name="workStoppedMinutes">
    {{#each minutes as |minute|}}
      <option value="{{minute.value}}" {{#if minute.default}}selected{{/if}}>{{minute.text}}</option>
    {{/each}}
    </select>
  </div>

  <div class="form-row">
    <label for="travelTime">Ore di viaggio</label>
    <select id="travelTime" name="travelTime">
      {{#each durationHours as |hour|}}
        <option value="{{hour.value}}" {{#if hour.default}}selected{{/if}}>{{hour.text}}</option>
      {{/each}}
    </select>
  </div>

  <div class="form-row">
    <label for="workHours">Ore di lavoro</label>
    <select id="workHours" name="workHours">
      {{#each durationHours as |hour|}}
        <option value="{{hour.value}}" {{#if hour.default}}selected{{/if}}>{{hour.text}}</option>
      {{/each}}
    </select>
  </div>

  <div class="form-row">
    <label for="vehicles">Automezzo di trasporto</label>
    <select id="vehicles" name="vehicles">
      {{#each elements.vehicle as |vehicle|}}
        <option value="{{vehicle.plaque}}">{{vehicle.plaque}} {{vehicle.description}}</option>
      {{/each}}
    </select>
  </div>

  <div class="form-row">
    <label for="vehicleKm">Kilometri percorsi</label>
    <input id="vehicleKm" name="vehicleKm" type="text" />
  </div>

  <label for="highwayEnter">Entrata in autostrada</label>
  <div id="highwayEnter" class="row">
    <label for="highwayEnterHour"></label>
    <select id="highwayEnterHour" name="highwayEnterHour">
      {{#each dayHours as |hour|}}
        <option value="{{hour.value}}">{{hour.text}}</option>
      {{/each}}
    </select>
    <label for="highwayEnterMinutes"></label>
    <select id="highwayEnterMinutes" name="highwayEnterMinutes">
    {{#each minutes as |minute|}}
      <option value="{{minute.value}}" {{#if minute.default}}selected{{/if}}>{{minute.text}}</option>
    {{/each}}
    </select>
  </div>

  <label for="highwayExit">Uscita dall'autostrada</label>
  <div id="highwayExit" class="row">
    <label for="highwayExitHour"></label>
    <select id="highwayExitHour" name="highwayExitHour">
      {{#each dayHours as |hour|}}
        <option value="{{hour.value}}">{{hour.text}}</option>
      {{/each}}
    </select>
    <label for="highwayExitMinutes"></label>
    <select id="highwayExitMinutes" name="highwayExitMinutes">
    {{#each minutes as |minute|}}
      <option value="{{minute.value}}" {{#if minute.default}}selected{{/if}}>{{minute.text}}</option>
    {{/each}}
    </select>
  </div>

  <div class="form-row">
    <label for="workDescription">Lavori eseguiti</label>
    <textarea id="workDescription" name="workDescription"></textarea>
  </div>

  <div class="form-row">
    <label for="notes">Note</label>
    <textarea id="notes" name="notes"></textarea>
  </div>

</form>