<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link active" href="/admin/userList">Lista utenti</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/manage">Amministra database</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/sites">Siti</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">

  <h1 align="center">{{data.firstName}} {{data.lastName}}</h1>

  <div class="row justify-content-sm-center" style="margin-bottom: 10px;">
    <div class="col-sm-6">
      <form action="/admin/getUserReports" method="post">
        <fieldset>
          <legend>Cambia date tabelle</legend>
          <input name="username" value="{{data.username}}" hidden />
          <input name="firstName" value="{{data.firstName}}" hidden />
          <input name="lastName" value="{{data.lastName}}" hidden />
          <div class="control-group">
            <label class="control-label" for="from">Mostra da:</label>
            <div class="controls">
              <input data-provide="datepicker" name="from" class="datepicker" type="text" class="form-control">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="to">Fino a:</label>
            <div class="controls">
              <input data-provide="datepicker" name="to" class="datepicker" type="text" class="form-control">
            </div>
          </div>
          <button type="submit" class="btn btn-info">Invia</button>
        </fieldset>
      </form>
    </div>
    <div class="col-sm-6">
      <form action="/admin/getUserCsv" method="post">
        <fieldset>
          <legend>Scarica CSV</legend>
          <input name="username" value="{{data.username}}" hidden />
          <input name="firstName" value="{{data.firstName}}" hidden />
          <input name="lastName" value="{{data.lastName}}" hidden />
          <div class="control-group">
            <label class="control-label" for="from">Da:</label>
            <div class="controls">
              <input data-provide="datepicker" name="from" class="datepicker" type="text" class="form-control">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="to">A:</label>
            <div class="controls">
              <input data-provide="datepicker" name="to" class="datepicker" type="text" class="form-control">
            </div>
          </div>
          <button type="submit" class="btn btn-info">Download</button>
        </fieldset>
      </form>
    </div>
  </div>

  {{#each data.result as |month|}}
  <div class="row">
    <h3>{{month.monthYear}}</h3>
    <table class="table table-sm table-striped">
      <thead>
        <th>Data</th>
        <th>Attività</th>
        <th>Squadra</th>
        <th>Mezzi</th>
        <th>Inizio</th>
        <th>Fine</th>
        <th>Pausa</th>
        <th>Viaggio</th>
        <th>Ore di lavoro</th>
      </thead>
      <tbody>
        {{#each month.reports as |report|}}
          <tr>
            <td>{{report.date}}</td>
            <td>{{report.notes}}</td>
            <td>{{report.squad}}</td>
            <td>{{#each report.vehicles as |vehicle|}}{{vehicle.vehicle}}{{#unless @last}}, {{/unless}}{{/each}}</td>
            <td>{{hourToString report.workStarted}}</td>
            <td>{{hourToString report.workStopped}}</td>
            <td>{{report.workPause}}</td>
            <td>{{report.travelTime}}</td>
            <td>{{report.totalWorkTime}}</td>
          </tr>
        {{/each}}
        <tr>
          <td colspan="7"><strong>Totali</strong></td>
          <td>{{month.totalTravelTime}}</td>
          <td>{{month.totalWorkTime}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  {{/each}}

</div>
