<ul class="navbar">
  <li><a class="active" href="/admin/userList">Lista utenti</a></li>
  <li><a href="/admin/manage">Amministra database</a></li>
  <li><a href="/admin/sites">Siti</a></li>
  <li class="logout"><a href="/logout">Logout</a></li>
</ul>

<h2 class='row'>Registra nuovo utente</h2>

<div class="row">
  <form action="/admin/register" method="post">

    <div class="form-row">
      <label for="firstName">Nome</label>
      <input id="firstName" name="firstName" type="text" />
    </div>

    <div class="form-row">
      <label for="lastName">Cognome</label>
      <input id="lastName" name="lastName" type="text" />
    </div>

    <div class="form-row">
      <label for="type">Tipologia</label>
      <select id="type" name="type">
        <option value="user">Utente</option>
        <option value="admin">Amministratore</option>
      </select>
    </div>

    <div class="form-row">
      <label for="username">Nome utente</label>
      <input id="username" name="username" type="text" />
    </div>

    <div class="form-row">
      <label for="password">Password</label>
      <input id="password" name="password" type="text" />
    </div>

    <div class="form-row">
      <button>Invia</button>
    </div>

  </form>
</div>

<h2 class="row">Lista utenti</h2>

<div class="row">
  <table>
    <thead>
      <tr>
        <th>Rapporti</th>
        <th>Nome</th>
        <th>Cognome</th>
        <th>Username</th>
        <th>Tipologia</th>
        <th>Elimina</th>
      </tr>
    </thead>
    <tbody>
      {{#each users as |user|}}
      <tr>
        <td>
          <form class="green" action="/admin/getUserReports" method="post">
            <input name="username" value="{{user.username}}" hidden />
            <input name="firstName" value="{{user.firstName}}" hidden />
            <input name="lastName" value="{{user.lastName}}" hidden />
            <button>Visualizza</button>
          </form>
        </td>
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.username}}</td>
        <td>{{user.type}}</td>
        <td>
          <form class="red" action="/admin/deleteUser" method="post">
            <input name="username" value="{{user.username}}" hidden />
            <button>Elimina</button>
          </form>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
